{
  "clientId" : "<your-client-id>",
  "serviceAccountEmail" : "<your-service-account-email>",
  "serviceAccountPrivateKeyFile" : "<your-pem-file>",
  "widgetUrl" : "http://localhost:8080/widget",
  "cookieName" : "gtoken"
}
