{% extends "base.html" %}


{% block head_scripts %}
<!-- Copy and paste here the "Sign-in button javascript" you downloaded from Developer Console as gitkit-signin-button.html -->

<script type="text/javascript" src="//www.gstatic.com/authtoolkit/js/gitkit.js"></script>
<link type=text/css rel=stylesheet href="//www.gstatic.com/authtoolkit/css/gitkit.css"/>
<script type=text/javascript>
  window.google.identitytoolkit.signInButton(
      '#navbar', // accepts any CSS selector
      {
        widgetUrl: "/widget",
        signOutUrl: "/logout"
      }
  );
</script>

<!-- End configuration -->

{% endblock %}

{% block content %}

<h2 class="ui center aligned icon header">
  <i class="circular users icon"></i>
  Google Identity Toolkit Demo

  <div class="navbar-container">
    <!-- Include the sign in button widget with the matching 'navbar' id -->
    <div id="navbar"></div>
    <!-- End identity toolkit widget -->
  </div>
</h2>


{% endblock %}